In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
library = {
    "Book_ID":[101,102,103,104,105],
    "Title":["Python basics","Data science","AI concepts","DBMS","Operating systems"],
    "Author":["Guido","James","Andrew","Elmasri","Silberschatz"],
    "Copies":[5,3,4,6,2]
}
library

{'Book_ID': [101, 102, 103, 104, 105],
 'Title': ['Python basics',
  'Data science',
  'AI concepts',
  'DBMS',
  'Operating systems'],
 'Author': ['Guido', 'James', 'Andrew', 'Elmasri', 'Silberschatz'],
 'Copies': [5, 3, 4, 6, 2]}

In [3]:
df = pd.DataFrame(library)
df

   Book_ID              Title        Author  Copies
0      101      Python basics         Guido       5
1      102       Data science         James       3
2      103        AI concepts        Andrew       4
3      104               DBMS       Elmasri       6
4      105  Operating systems  Silberschatz       2

In [4]:
def add_book():
    try:
        book_id = int(input("Enter Book ID: "))
        title = input("Enter Book Title: ").strip()
        author = input("Enter Author Name: ").strip()
        copies = int(input("Enter Number of Copies: "))

        library["Book_ID"].append(book_id)
        library["Title"].append(title)
        library["Author"].append(author)
        library["Copies"].append(copies)

        print("Book added successfully!")

    except ValueError:
        print("Invalid input! Please enter correct values.")

In [5]:
def view_books():
    if len(library["Book_ID"]) == 0:
        print("No books available.")
    else:
        df = pd.DataFrame(library)
        print(df)

In [6]:
def search_book():
    try:
        book_id = int(input("Enter Book ID to search: "))
        df = pd.DataFrame(library)

        result = df[df["Book_ID"] == book_id]

        if result.empty:
            print("Book not found.")
        else:
            print("Book Found:")
            print(result)

    except ValueError:
        print("Invalid input!")

In [7]:
def save_to_file():
    df = pd.DataFrame(library)
    df.to_csv("library.csv", index=False)
    print("Library data saved to library.csv")

In [8]:
# while True:
    print("\n--- Library Management System ---")
    print("1. Add Book")
    print("2. View Books")
    print("3. Search Book")
    print("4. Save to File")
    print("5. Exit")

    choice = input("Enter your choice: ")

    if choice == "1":
        add_book()
    elif choice == "2":
        view_books()
    elif choice == "3":
        search_book()
    elif choice == "4":
        save_to_file()
    elif choice == "5":
        print("Thank you!")
        break
    else:
        print("Invalid choice! Try again.")

--- Library Management System ---
1. Add Book
2. View Books
3. Search Book
4. Save to File
5. Exit

Enter your choice:  1
Enter Book ID:  106
Enter Book Title:  The House of Mirth
Enter Author Name:  Edith Wharthon
Enter Number of Copies:  5

Book added successfully!

--- Library Management System ---
1. Add Book
2. View Books
3. Search Book
4. Save to File
5. Exit

Enter your choice:  2

   Book_ID               Title          Author  Copies
0      101       Python basics           Guido       5
1      102        Data science           James       3
2      103         AI concepts          Andrew       4
3      104                DBMS         Elmasri       6
4      105   Operating systems    Silberschatz       2
5      106  The House of Mirth  Edith Wharthon       5

--- Library Management System ---
1. Add Book
2. View Books
3. Search Book
4. Save to File
5. Exit

Enter your choice:  3
Enter Book ID to search:  102

Book Found:
   Book_ID         Title Author  Copies
1      102  Data science  James       3

--- Library Management System ---
1. Add Book
2. View Books
3. Search Book
4. Save to File
5. Exit

Enter your choice:  4

Library data saved to library.csv

--- Library Management System ---
1. Add Book
2. View Books
3. Search Book
4. Save to File
5. Exit

Enter your choice:  5

Thank you!